<ion-header>
  <ion-toolbar>
    <ion-title>
      New Observation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="birdForm" (ngSubmit)="logForm()" padding-right>
        <ion-item>
          <ion-label position="floating">Bird name</ion-label>
          <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Added notes</ion-label>
          <ion-textarea type="text" formControlName="notes" ></ion-textarea>
        </ion-item>
        <!-- TODO DATE PICKER JA RARITY RADIO -->
         <ion-item>
          <ion-label>Time of observation</ion-label>
          <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2030" formControlName="date"></ion-datetime>
        </ion-item> 

        <ion-button 
          color="primary" 
          expand="block" 
          [disabled]="!birdForm.valid" 
          (click)="logForm()">Add observation</ion-button>
    </form>
</ion-content>
