

.addButton {
 
  float:right;
  color:blue;
  font-size:2rem;
  margin-right: 10px;
  margin-top: 0px;
}

.buttonContainer {
  width: 100%;
}

.emptyBanner {
  text-align: center;
  margin-top: 40%;
}

.saveButton {
  float: right;
  font-size: 1.5rem;
}

.bannerTitle {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}