<ion-header class="header">
  <ion-toolbar>

    <ion-title>
        <ion-icon name="eye"></ion-icon>
      Bird Watchers
    </ion-title>
    <h3 class="addButton" (click)="showModal()"><ion-icon name="add"></ion-icon></h3>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <div class="emptyBanner" *ngIf="birds.length === 0">
    <h3>Welcome to the bird watching app! Add a new observation from the icon on top!</h3>
  </div>

  <div class="birdsList">
    <ion-list>


      <ion-card *ngFor="let bird of birds">
          <ion-card-header>
            <ion-card-subtitle color="primary">
                {{bird.date.toLocaleString()}}
                <div class="saveButton" (click)="saveBird(bird)"><ion-icon name ="save"></ion-icon></div>
            </ion-card-subtitle>
            <ion-card-subtitle color="secondary">
              Latitude: {{bird.location.latitude}}
            </ion-card-subtitle>
            <ion-card-subtitle color="secondary">
                Longitude: {{bird.location.longitude}}
              </ion-card-subtitle>
            <ion-card-title color="danger">
              {{bird.name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{bird.notes}}
          </ion-card-content>
      </ion-card>
  
    </ion-list>
  </div>
</ion-content>
