<ion-header>
  <ion-toolbar>
    <ion-title class="bannerTitle">
      Saved observations
    </ion-title>
    <ion-text (click)="clear()" color="primary" class="clearButton">
       <a>
        Clear
       </a> 
    </ion-text>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let bird of savedBirds">
    <ion-card-header>
      <ion-card-subtitle color="primary">
          {{bird.date.toLocaleString()}}
          <div class="removeButton" (click)="removeBird(bird)"><ion-icon name ="trash"></ion-icon></div>
      </ion-card-subtitle>
      <ion-card-subtitle color="secondary">
        Latitude: {{bird.latitude}}
      </ion-card-subtitle>
      <ion-card-subtitle color="secondary">
          Longitude: {{bird.longitude}}
        </ion-card-subtitle>
      <ion-card-title color="danger">
        {{bird.name}}
      </ion-card-title>
      <ion-card-subtitle color="tertiary">
        {{bird.rarity}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        {{bird.notes}}
    </ion-card-content>
</ion-card>
</ion-content>
